@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pilot{
    display: flex;
    flex-direction: column;
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 55px;
    width: 100vw;
    max-width: 100%;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
    padding: 0 220px;
}
nav h1{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}
.options{
    list-style: none;
    display: flex;
}
.child-options{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-left: 32px;
    cursor: pointer;
}
.child-options:hover{
    color: black;
}
.brand-new{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand-new .team-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 852px;
    text-align: center;
}
.brand-new .team-title h1{
    font-size: 44px;
}
/* .brand-new .team-title  */
button{
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 8px;
    margin-top: 17px;
    margin-bottom: 50px;
    background-color: #FF900E;
    color: #FFFFFF;
    transition: all 500ms ease-out;
    cursor: pointer;
}

/* .brand-new .team-title  */
button:hover{
    background-color: #353535;
}
.brand-new img{
    margin: 0 240px;
    width: 900px;
}
.quick-list{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 130px;
}
.quick-list .grid-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    margin-right: 72px;
}
.quick-list .grid-section img{
    width: 200px;
}
.quick-list .text-desc{
    width: 340px;
    display: flex;
    flex-direction: column;
}
.quick-list .text-desc h1{
    font-size: 35px;
}
.quick-list .text-desc h1 span:nth-child(1){
    color: #727272;
}
.quick-list .text-desc h1 span:nth-child(2){
    color: #131313;
    font-weight: 900;
}
.quick-list .text-desc h1 span:nth-child(3){
    color: #FF900E;
}
.quick-list .text-desc p{
    font-size: 14px;
    color: #727272;
}


/* section- 1 feature-list */


.feature-list{
    display: flex;
    position: relative;
    width: 100vw;
    padding-bottom: 30px;
    max-width: 100%;
    justify-content: center;
}
.feature-list p{
    font-size: 14px;
    color: #727272;
    padding-right: 50px;
}
.feature-list .description{
    display: flex;
    flex-direction: column;
}
.feature-list .description h1{
    border-left: 5px solid #FF900E;
    padding-left: 14px;
}
.feature-list .description .feature-cards{
    margin-left: 20px;
    width: 400px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding-left: 20px;
    border-radius: 8px;
    padding-bottom: 16px;
}
.feature-list img{
    width: 420px;
    height: 690px;
}
.ten-year{
    position: absolute;
    bottom: 95px;
    right: 437px;
    width: 230px;
    height: 110px;
    font-size: 32px;
    margin: 0;
}
.ten-year span:nth-child(1){
    font-weight: 900px;
}

/* our works : special */
.our-works{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    align-items: center;
}
.our-works-grid{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 8px;
    justify-items: center;
    align-content: stretch;
    align-items: stretch;
}
.out-works-grid .grid-3{
    width: 400px;
    height: 200px; 
    background-color: red;
    grid-column: 2/4;
}
.our-works img{
    width: 200px;
    height: 100px;
}

/* section- 2 some-facts */

.some-facts{
    display: flex;
    flex-direction: column;
    margin: 140px;
    margin-top: 0;
    width: 100vw;
    max-width: 100%;
}
.some-facts .some-facts-title{
    font-size: 34px;
    margin-bottom: 10px;
    padding-left: 265px;
}
.some-facts .some-facts-desc{
    font-size: 14px;
    color: #727272;
    padding-left: 265px;
}
.achievements{
    display: flex;
    margin-top: 60px;
    padding: 0 265px;
}
.some-facts .achievements .cards{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF900E;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 32px 24px;
    width: 160px;
    margin: 0 8px;
    transition: background-color 750ms ease-in-out;
    cursor: pointer;
}
.some-facts .achievements .cards:hover{
    background-color: #ff8f0e6e;
}
.some-facts .achievements .cards p{
    margin: 0;
    color: #727272;
    margin-bottom: 10px;
}
.some-facts .achievements .cards h1{
    margin: 0;
    color: #424242;
}
.some-facts .achievements .cards img{
    width: 35px;
    margin-bottom: 10px;
}


/* section- 3 sponsors */

.sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
}
.sponsors h1{
    font-weight: 700;
    font-size: 35px;
    margin: 0 0;
    color: #131313;
}
.sponsors p{
    margin: 0 0;
    margin-top: 14px;
    text-align: center;
    color: #727272;
}
.sponsors-logo{
    display: flex;
    width: 80%;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.sponsors img{
    width: 130px;
    filter: grayscale(100%);
}


/* footer section */
footer{
    width: 80%;
    background-color: #FFF4E7;
    padding: 22px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 140px;
}
footer small{
    font-size: 16px;
    color: #424242;
}

.hide{
    display: none;
}


@media only screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        padding: 0 0;
    }
    .options{
        padding-left: 0;
        width: 90vw;
        justify-content: space-between;
    }
    .child-options{
        margin: 0 0;
    }
    /* .brand-new .team-title  */

    .brand-new .team-title{
        width: 90vw;
    }
    .brand-new img{
        width: 94vw;
    }
    .quick-list .grid-section{
        grid-template-columns: repeat(1,1fr);
        margin-right: 0;
    }
    .quick-list .grid-section img{
        width: 90vw;
    }
    .quick-list{
        flex-direction: column-reverse;
    }


    /* section- 1 feature-list */

    .feature-list{
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }
    .feature-list .description .feature-cards{
        width: 80vw;
        margin-left: 0;
    }
    .feature-list img{
        width: 80vw;
    }
    .feature-list p{
        padding-right: 0;
        width: 90vw;
    }
    .feature-list .ten-year{
        position: static;
        margin-top: 12px;
        width: max-content;
        height: max-content;
        font-size: 16px;
        border-radius: 4px;
        padding: 8px 10px;
    }
    .feature-list .ten-year span{
        font-size: 16px;
    }

    /* our works : special */


    .our-works-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .our-works-grid img{
        width: 90vw;
        height: auto;
    }
    .achievements{
        flex-direction: column;
        padding: 0 0;
        align-items: center;
    }

    /* section- 2 some-facts */

    .some-facts{
        align-items: center;
    }
    .some-facts .some-facts-title{
        padding: 0 0;
        
    }
    .some-facts .some-facts-desc{
        padding: 0 0;
        margin: 0 12px;
        text-align: center;
    }
    .some-facts .achievements .cards{
        width: 60vw;
        margin-bottom: 26px;
    }

    /* section- 3 sponsors */

    .sponsors p {
        padding: 0 12px;
    }
    .sponsors-logo{
        flex-direction: column;
    }
    .sponsors-logo img{
        margin-top: 34px;
    }
} 